.accordion-button:not(.collapsed) {
    color: black;
    background-color: white;
    box-shadow: inset 0px 0px;
    border: 0;
}

.accordion-button:focus {
    z-index: 3;
    outline: 0;
    box-shadow: inset 0px 0px;
}

.bg-white {
    --bs-bg-opacity: 0;
}

.accordion-body {
    padding: 0 0 1rem 0;
}